/*http://fxexperience.com/2011/12/styling-fx-buttons-with-css/*/
.startScreenButton {

    -fx-background-color:
            linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
            linear-gradient(#020b02, #3a3a3a),
            linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
            linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
            linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 10 20 10 20;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
.startScreenButton Text {
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , -1 );
}
.label {
    -fx-font-family: "Baskerville Old Face";
    -fx-font-size: 15px;
    -fx-padding: 5px;
}
.text-field {
    -fx-text-box-border: #274f44; -fx-focus-color: #6b4b4b;
}

GridPane{
    -fx-background-color: #8a9ca8;
    -fx-border-color: #dad7d1;
    -fx-border-width: 5px;
}

.threadButtons {
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 6 15 6 15;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
.threadButtons Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}
.menu-bar{
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-opacity: 0.5;

}
.menu{
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #2c333a 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-opacity: 0.5;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
.menu-item{
    -fx-background-color: #2c3334;

}
.menu .label{
    -fx-text-fill: white;
    -fx-font-family: serif;
}
.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing, .menu-item:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #738e9f;
    -fx-opacity: 0.5;
    -fx-text-fill: -fx-selection-bar-text;
}
.context-menu {
    -fx-background-color: #2c3334;
}
/*https://edencoding.com/style-tableview-javafx/*/
.table-view{
    -fx-background-color: linear-gradient(to bottom, #274f44, #93f9b944);

}
/*The top right corner of the header section above the scroll bars*/
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
/*The bottom right corner between the scrollbars can be styled using the selector */
.table-view .corner{
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #274f44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: #c2baba;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
}
.table-row-cell:even{
    -fx-background-color: #93f9b914;
    -fx-background-insets: 0, 0 0 1 0;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to bottom, #274f44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, #274f44, #93f9b944);
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
#welcome{
    -fx-font-size: 20px;
}
#orderNumb{
    -fx-font-size: 15px;
}
.customerButtons{
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
.customerButtons Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}
.choice-box {
    -fx-background-color: black;
}
.choice-box > .label{-fx-text-fill: white}
.choice-box .context-menu { -fx-background-color: black;}
.choice-box .menu-item:focused { -fx-background-color: orange; }
.choice-box .menu-item > .label { -fx-text-fill: white;}
.choice-box .menu-item{
    -fx-background-color: black;
}
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }
